APP_PORT=5173
IMAGE_NAME=ghcr.io/OWNER/REPO:latest

SQL_SERVER=YOUR_SQL_SERVER_HOST_OR_IP
SQL_PORT=1433
SQL_DATABASE=sepidAI_Analysis_New
SQL_USER=sepidAI_app
SQL_PASSWORD=CHANGE_ME
SQL_ENCRYPT=false
SQL_TRUST_CERT=true


